.home-index {
  width: 100%;
  height: 100%;
 margin-top: 28px;
  overflow-y: auto;
  overflow-x: hidden;
  .hi-header {
    width: calc(100% - 40px);
    margin: auto;
    .hi-header-title {
      padding-left: 1.5px;
      padding-bottom: 16px;
      .text {
        align-self: center;
        color: #1f1f39;
        font-size: 24px;
        font-family: Poppins;
        font-weight: 700;
        line-height: 18px;
      }
      .section_1 {
        background-color: #eaeaff;
        border-radius: 50%;
        width: 36px;
        height: 36px;
      }
    }
    .search {
     width: 100%;
     background: #F4F3FD;
     border-radius: 10px;
     height: 48px;
     line-height: 48px;
     display: flex;
     align-items: center;
     padding-left: 22px;
      .group_4 {
        margin: 2.5px 0 3px;
        .image_4 {
          flex-shrink: 0;
          width: 14px;
          height: 14px;
        }
        .text_1 {
          margin-left: 14.5px;
          margin-top: 3.5px;
          color: #b8b8d2;
          font-size: 14px;
          font-family: Poppins;
          line-height: 11px;
        }
      }
      .image_5 {
        width: 21px;
        height: 20px;
      }
    }
  }
  .equal-division {
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 10px;
    Swiper{
      width: 100%;
    }
    .image_6 {
      width: 100%;
      height: 100%;
    }
  }
  .text_4 {
    margin-left: 19.5px;
    margin-top: 30px;
    align-self: flex-start;
    color: #1f1f39;
    font-size: 18px;
    font-family: Poppins;
    line-height: 18.5px;
  }
  .home-tab-list {
    margin-top: 24.5px;
    padding-left: 19px;
    padding-right: 11px;
    :global{

      .at-tabs__header{
        background: transparent;
        .at-tabs__item-underline{
          display: none;
        }
        .at-tabs__item{
          height: 30px;
          line-height: 30px;
          padding: 0 15px;
          flex-basis: auto !important;
          font-size: 14px;
          color: #333;
        }
        .at-tabs__item--active{
          background: @color-txt;
          border-radius: 20px;
          font-size: 14px;
          color: #fff;
        }
      
      }
      .at-tabs__underline{
        display: none;
      }
    }   
  }
}